<h1 class="head">就業時間を入力してください</h1>
<%= form_with url: "/admin/update", local:true do |f| %>
    <table border="1" cellpadding="6" cellspacing="0" class="head">
    <tr>
    <th rowspan="2">月日</th>
    <th rowspan="2">曜日</th>
    <th colspan="3">今月のシフト</th>
    <th rowspan="2">シフトによる<br>規定就業時間</th>
    <th colspan="5">就業時間</th>
    <th rowspan="2">出勤日数</th>
    <th rowspan="2">残業時間</th>
    </tr>
    <tr>
    <td>出勤</td>
    <td>休憩時間</td>
    <td>退社</td>
    <td>出勤</td>
    <td>休憩時間</td>
    <td>退社</td>
    <td>調整</td>
    <td>実労働時間</td>
    </tr>
    <% (@timecard.starting_date..@timecard.closing_date).each do |date| %>
        <% @shift = Shift.where(time_card_id: @timecard.id).find_by(date: date) %>
        
        <tr>
        <td><%= date.strftime('%m月%d日') %></td>
        <td><%= %w(日 月 火 水 木 金 土)[date.wday] %></td>
        <% if @shift.working_hour %>
            <% @default = WorkingHour.find_by(shift_id: @shift) %>
            <% @start_at = @default.punch_in %>
            <% @rest_minutes = @default.rest_minutes %>
            <% @end_at = @default.punch_out %>
        <% elsif @shift.kind == "holiday" %>
            <% @start_at = Time.parse("00:00") %>
            <% @rest_minutes = 0 %>
            <% @end_at = Time.parse("00:00") %>
        <% else %>    
            <% @start_at = @shift.start_at %>
            <% @rest_minutes = @shift.rest_minutes %>
            <% @end_at = @shift.end_at %>
        <% end %>        
        <% if @shift.kind == "holiday" %>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><%= f.time_select :"working_hour[][day_start]" , default: @start_at, ignore_date: true %></td>
            <td><%= f.time_select :"working_hour[][day_rest]" , default: {hour: @rest_minutes/60, minute: @rest_minutes%60, }, ignore_date: true %></td>
            <td><%= f.time_select :"working_hour[][day_end]" , default: @end_at, ignore_date: true %></td>
            <td></td>
        <% else %>
            <td><%= @shift.start_at.strftime('%k:%M') %></td>
            <td><%= "#{@shift.rest_minutes/60}".rjust(2,"0") + ":" + "#{@shift.rest_minutes%60}".rjust(2,"0") %></td>
            <td><%= @shift.end_at.strftime('%k:%M') %></td>
            <td><%= dworktime(@shift.start_at,@shift.rest_minutes,@shift.end_at,0) %></td>
            <td><%= f.time_select :"working_hour[][day_start]" , {default: @start_at}, ignore_date: true %></td>
            <td><%= f.time_select :"working_hour[][day_rest]" , default: {hour: @rest_minutes/60, minute: @rest_minutes%60, }, ignore_date: true %></td>
            <td><%= f.time_select :"working_hour[][day_end]" , {default: @end_at}, ignore_date: true %></td>
            <td><%= "#{@shift.preparation/60}".rjust(2,"0") + ":" + "#{@shift.preparation%60}".rjust(2,"0") %></td>
        <% end %>

        
        <td></td>
        <td></td>
        <td></td>
        </tr>
        <%= f.hidden_field :"working_hour[][shift_id]", value: @shift.id %>

        
    <% end %>
    <%= f.hidden_field :timecard_id, value: @timecard.id %>
    <tr>
    <td></td>
    <td colspan = 4></td>
    <td></td>
    <td colspan = 4></td>
    <td></td>
    <td></td>
    <td></td>
    </tr>
    <tr>
    <td>合計</td>
    <td colspan = 4></td>
    <td></td>
    <td colspan = 4></td>
    <td></td>
    <td></td>
    <td></td>
    </tr>
    </table>
    <p class = "head"><%= f.submit "適用" ,data: { "disable-with": "保存しています..."} %></p>
    
<% end %>