<h1>出勤時間表作成</h1>
<%= form_with url: "/admin/create", local:true do |f| %>
  <%= f.label :西暦、月、締め日を選択してください %><br>
  <p><%= f.date_field :closing_day %></p>
  <p><%= f.label :誰の出勤時間表を作成しますか？ %></p>
  <p><%= f.select :user_id, @users.map { |user| [user.name1 + " " + user.name2,user.id] } %></p>
  <p><%= link_to("ユーザー新規作成", "/users/sign_up") %></p>
  <p><%= f.submit "作成" %></p>
<% end %>
