    <table border="1" cellpadding="6" cellspacing="0" class="head">
    <tr>
    <th rowspan="2">月日</th>
    <th rowspan="2">曜日</th>
    <th colspan="3">今月のシフト</th>
    <th rowspan="2">シフトによる<br>規定就業時間</th>
    <th colspan="5">就業時間</th>
    <th rowspan="2">出勤日数</th>
    <th rowspan="2">残業時間</th>
    </tr>
    <tr>
    <td>出勤</td>
    <td>休憩時間</td>
    <td>退社</td>
    <td>出勤</td>
    <td>休憩時間</td>
    <td>退社</td>
    <td>調整</td>
    <td>実労働時間</td>
    </tr>
    <% (@timecard.starting_date..@timecard.closing_date).each do |date| %>
        <% @shift = Shift.where(time_card_id: @timecard.id).find_by(date: date) %>
        <% @workhour = WorkingHour.find_by(shift_id: @shift.id) %>
        <tr>
        <td><%= date.strftime('%m月%d日') %></td>
        <td><%= %w(日 月 火 水 木 金 土)[date.wday] %></td>
        <% if @shift.kind == "holiday" %>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <% if @workhour.punch_in == @workhour.punch_out %>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            <% else %>
                <td><%= @workhour.punch_in.strftime('%k:%M') %></td>
                <td><%= "#{@workhour.rest_minutes/60}".rjust(2,"0") + ":" + "#{@workhour.rest_minutes%60}".rjust(2,"0") %></td>
                <td><%= @workhour.punch_out.strftime('%k:%M') %></td>
                <td><%= "#{@shift.preparation/60}".rjust(2,"0") + ":" + "#{@shift.preparation%60}".rjust(2,"0") %></td>
                <td><%= dworktime(@workhour.punch_in,@workhour.rest_minutes,@workhour.punch_out,@shift.preparation) %></td>
            <% end %>
        <% else %>

            <td><%= @shift.start_at.strftime('%k:%M') %></td>
            <td><%= "#{@shift.rest_minutes/60}".rjust(2,"0") + ":" + "#{@shift.rest_minutes%60}".rjust(2,"0") %></td>
            <td><%= @shift.end_at.strftime('%k:%M') %></td>
            <td><%= dworktime(@shift.start_at,@shift.rest_minutes,@shift.end_at,0) %></td>
            <td><%= @workhour.punch_in.strftime('%k:%M') %></td>
            <td><%= "#{@workhour.rest_minutes/60}".rjust(2,"0") + ":" + "#{@workhour.rest_minutes%60}".rjust(2,"0") %></td>
            <td><%= @workhour.punch_out.strftime('%k:%M') %></td>
            <td><%= "#{@shift.preparation/60}".rjust(2,"0") + ":" + "#{@shift.preparation%60}".rjust(2,"0") %></td>
            <td><%= dworktime(@workhour.punch_in,@workhour.rest_minutes,@workhour.punch_out,@shift.preparation) %></td>
        <% end %>

        
        
        <td></td>
        <td></td>
        </tr>
        

        
    <% end %>
    
    <tr>
    <td></td>
    <td colspan = 4></td>
    <td></td>
    <td colspan = 4></td>
    <td></td>
    <td></td>
    <td></td>
    </tr>
    <tr>
    <td>合計</td>
    <td colspan = 4></td>
    <%  %>
    <td></td>
    <td colspan = 4></td>
    <td></td>
    <td></td>
    <td></td>
    </tr>
    </table>
    
    