    <table border="1" cellpadding="6" cellspacing="0" class="head">
    <tr>
    <th rowspan="2">月日</th>
    <th rowspan="2">曜日</th>
    <th colspan="3">今月のシフト</th>
    <th rowspan="2">シフトによる<br>規定就業時間</th>
    <th colspan="5">就業時間</th>
    <th rowspan="2">出勤日数</th>
    <th rowspan="2">時間外労働</th>
    </tr>
    <tr>
    <td>出勤</td>
    <td>休憩時間</td>
    <td>退社</td>
    <td>出勤</td>
    <td>休憩時間</td>
    <td>退社</td>
    <td>調整</td>
    <td>実労働時間</td>
    </tr>
    <% (@timecard.starting_date..@timecard.closing_date).each do |date| %>
        <% @shift = @timecard.shifts.find_by(date: date) %>
        <% @workhour = @shift.working_hour %>
        <tr>
        <td><%= date.strftime('%m月%d日') %></td>
        <td><%= %w(日 月 火 水 木 金 土)[date.wday] %></td>
        <% if @shift.kind == "holiday" %>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <% if @workhour.punch_in == @workhour.punch_out %>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            <% else %>
                <td><%= @workhour.punch_in.strftime('%k:%M') %></td>
                <td><%= displaytime(@workhour.rest_minutes * 60) %></td>
                <td><%= @workhour.punch_out.strftime('%k:%M') %></td>
                <td><%= displaytime(@shift.preparation * 60) %></td>
                <td><%= displaytime(worktime(@shift,@workhour)) %></td>
                <td>休日出勤</td>
                <td><%= displaytime(worktime(@shift,@workhour))%></td>
                <% @holidayworktotal += worktime(@shift,@workhour) %>
                <% @holidayworktimes += 1 %>   
            <% end %>
        <% else %>

            <td><%= @shift.start_at.strftime('%k:%M') %></td>
            <td><%= displaytime(@shift.rest_minutes * 60) %></td>
            <td><%= @shift.end_at.strftime('%k:%M') %></td>
            <td><%= displaytime(shifttime(@shift)) %></td>
            <td><%= @workhour.punch_in.strftime('%k:%M') %></td>
            <td><%= displaytime(@workhour.rest_minutes * 60) %></td>
            <td><%= @workhour.punch_out.strftime('%k:%M') %></td>
            <td><%= displaytime(@shift.preparation * 60) %></td>
            <td><%= displaytime(worktime(@shift,@workhour)) %></td>
            <td>出勤</td>
            <td><%= displaytime(worktime(@shift,@workhour)-shifttime(@shift))%></td>
            <% @shifttotal += shifttime(@shift) %>
            <% @worktotal += worktime(@shift,@workhour) %>
            <% @worktimes += 1 %>
            <% @overtimetotal += worktime(@shift,@workhour)-shifttime(@shift) %>   
        <% end %>

    
        
        </tr>
        

        
    <% end %>
    
    <tr>
    <td></td>
    <td colspan = 4></td>
    <td></td>
    <td colspan = 4></td>
    <td></td>
    <td></td>
    <td></td>
    </tr>
    <tr>
    <td rowspan = 2>合計</td>
    <td colspan = 4 rowspan = 2></td>
    <%  %>
    <td>規定労働時間</td>
    <td rowspan = 2></td>
    <td>休日労働合計</td>
    <td>残業時間合計</td>
    <td>時間内<br>労働時間</td>
    <td>合計労働時間</td>
    <td>勤務日数</td>
    <td>時間外<br>労働時間</td>
    </tr>
    <tr>
    <td><%= displaytime(@shifttotal) %></td>
    <td><%= displaytime(@holidayworktotal) %></td>
    <td><%= displaytime(@overtimetotal) %></td>
    <td><%= displaytime(@worktotal) %></td>
    <td><%= displaytime(@worktotal + @holidayworktotal) %></td>
    <td><%= @worktimes + @holidayworktimes %></td>
    <td><%= displaytime(@holidayworktotal) %></td>
    </tr>
    </table>
    
    