<h2>給料編集</h2>

<%= form_with url: "/users/salaryupdate/#{@salary.user_id}", local:true do |f| %>

  <div class="field">
    <%= f.label :時給（通常） %><br />
    <%= f.number_field :payment, autocomplete: "payment", value: @salary.payment %><br />
  </div>

  <div class="field">  
    <%= f.label :時給（時間外） %><br />
    <%= f.number_field :overtime_pay, autocomplete: "overtime_pay", value: @salary.overtime_pay %><br />
  </div>

  <div class="field">  
    <%= f.label :時給（休日） %><br />
    <%= f.number_field :holiday_pay, autocomplete: "holiday_pay", value: @salary.holiday_pay%>
  </div>

  <div class="actions">
    <%= f.submit "作成" %>
  </div>
<% end %>  